:root {
  --primary-color: #3333cf;
  --primary-text-color: #ffffff;
  --outline-color: #c5cccc;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --border-radius: 10px;
}
